*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


body{
    background: #000;
}

body::before{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: url("Images/LoginBackground.jpg");
    background-position: center;
    background-size: cover;
    opacity: 100%;
}

nav{
    position:fixed;
    z-index: 1;
    padding:25px 40px;
}

nav a img{
    width:90px;
    opacity: 100%;
}


.form-wrapper {
    position:absolute;
    left:50%;
    top: 50%;
    width:430px;
    padding:60px 30px;
    border-radius: 20px;
    background:rgba(0,0,0,0.80);
    transform: translate(-50%,-50%); /* centers the form */
}

.form-wrapper h2{
    color:#fff;
    font-size: 2rem;

}

.form-wrapper form{
    margin:25px 0 65px;
}

form .form-control{
    position: relative;
    height:60px;
    margin-bottom: 16px;
}

.form-control input{
    height:100%;
    width:100%;
    background:#333;
    outline: none;
    border: none;
    color:#fff;
    font-size:1rem;
    border-radius:6px;
    padding: 0 20px;

}

.form-control input:is(:focus, :valid){
    padding: 15px 20px 0;
    background:#333;

}


.form-control label{
    position:absolute;
    left: 20px;
    top: 50%;
    color : #ffffffa4;
    pointer-events: none;
    font-size: 1rem;
    transform: translateY(-50%);
    transition: all 0.1s ease;
}

.form-control input:is(:focus, :valid) ~ label{
    font-size: 0.75rem;
    transform: translateY(-140%);

}


form button {
    width: 100%;
    padding:16px 0;
    font-size: 1rem;
    border:none;
    outline: none;
    border-radius: 6px;
    color: white;
    cursor:pointer;
    font-weight: 500;
    background:#fd5400;
    margin: 25px 0 10px;
}

form button:hover{
    background:#ff5500bd;
    transition: 0.2s ease;
}

form .form-help{
    display:flex;
    justify-content: space-between;
}

form .remember-me{
    display:flex;
}

form .remember-me input{
    margin-right:5px;
    accent-color: #b3b3b3;
}

form .form-help :where(label,a){
    font-size:0.9rem;
}

.form-wrapper :where(label,p,small,a){
    color: #b3b3b3;
}

.form-wrapper p a{
    color: #fff;
}

.form-wrapper small{
    display:block;
    margin-top: 15px;
}

.form-wrapper small a{
    color: rgb(104, 104, 254);
}

.form-wrapper a{
    text-decoration: none;
}

.form-wrapper a:hover{
    text-decoration: underline;
    color: rgb(63, 63, 255);
}

@media (max-width: 740px){
    body::before{
        display:none;
    }
    nav a img{
        position:fixed;
        top:10px;
        right:10px;
        margin-bottom: 50px;
        width: 55px;
        margin: 20px 20px
    }

    nav, .form-wrapper{
        padding:20px
    }
    .form-wrapper{
        top:43%;
        width:100%;
    }
    .form-wrapper form{
        margin:25px 0 0px;
    }
}


@media (max-height: 548px){
    nav a img{
        opacity: 0%;
    }
}


