<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gradholic</title>
	<link rel="stylesheet" src="../static/styles.css">
</head>




<body>
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link "  href="../">Back</a>
		</li>

	<div class="container">
	<h3>login</h3>
	<form action="{{url_for('')}}">
		<input type='text' name="username" placeholder='Username' required>
		<input type='text' name="pw" placeholder='Password' required>
		<button>login</button>

	</form>

	</div>
</body>
</html>