<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gradaholic</title>
	<link rel="stylesheet" src="../static/styles.css">
</head>




<body>
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link "  href="../">Back</a>
		</li>

	<div class="container">
	<h3><b>Contact Us</b></h3>
			<form method="POST">

				<div>
					<input name = "Name" type='text' placeholder = "Name" required>
					<input name = "Email" type = "text" placeholder = "Email" required>
					<p>Subject:</p>
					<select name ="request" id="messagetype">
						<option selected value = "Bugs">Bugs</option>
						<option value = "ban appeal">pls un</option>
						<option value = "General enquiry">General enquiry</option>
					</select>
					<p >Message</p>
					<textarea name="Text" placeholder="I need help with..." required></textarea>
					
					<!-- <input type="hidden" value='{{email}}' name="email"> -->
				</div>
				<br><br>
				<div>
					<button>Submit</button>
				</div>
				</form>
	</div>
</body>
</html>