<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gradaholic</title>
	<link rel="stylesheet" src="../static/styles.css">
</head>




<body>
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link "  href="{{url_for('login')}}">Login</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{url_for('contact_us')}}">Contact Us</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{url_for('about_us')}}">About Us</a>
		</li>

	</ul>


	<div class="container">
	<h1>Gradaholic</h1>
	<form action="{{url_for('register_personal_details')}}" method="POST">
		<input type='email' name="email" placeholder='email' required>
		<button>Get Started</button>

	</form>

	<div class="flashes">
		{% for message in get_flashed_messages() %}
			<p>{{message}}</p>
		{% endfor %}
	</div>
	</div>
</body>
</html>