<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gradaholic</title>
	<link rel="stylesheet" src="../static/styles.css">
</head>




<body>
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link "  href="#">Explore</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Questions</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Contests</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Leaderboard</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">log out</a>
		</li>

	</ul>


	<div class="container">
	<h1>{{username}}</h1>
	<img src="#">
	<a href=""><p>Friends</p></a>
	<p>Reputation Points: {{RP}}</p>
	

	</div>
</body>
</html>