<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gradaholic</title>
	<link rel="stylesheet" src="../static/styles.css">
</head>




<body>
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link "  href="../">Back</a>
		</li>

	<div class="container">
	<h3>personal details</h3>
	<form action="{{url_for('profile')}}" method="POST">
		<input type='text' name="username" placeholder='Username' required>
		<input type='password' name="pw" placeholder='Password' required>
		<input type='password' name="cfm_pw" placeholder='Confirm Password' required>
		<input type='text' name="name" placeholder='Name' required>
		<input type="hidden" name="email" value="{{email}}">
		<input type="hidden" name="currpage" value="register-personal-details">
		<button>Create account</button>

	</form>

	</div>
</body>
</html>