<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gradaholic</title>
	<link rel="stylesheet" src="../static/styles.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>




<body>
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link "  href="../">Back</a>
		</li>

	<div class="container">
	<h3>personal details</h3>
	<form action="{{url_for('profile')}}" method="POST">
		<input type='text' name="username" placeholder='Username' required>
		<input type='password' name="pw" placeholder='Password' required>
		<input type='password' name="cfm_pw" placeholder='Confirm Password' required>
		<input type='text' name="name" placeholder='Name' required>
		<input type="hidden" name="email" value="{{email}}">
		<input type="hidden" name="currpage" value="register-personal-details">
		<button>Create account</button>

	</form>

	</div>
</body>
</html>